div{
    text-align: center;
    background:linear-gradient(to right, rgb(247, 132, 132), rgb(255, 255, 255),rgb(190, 245, 190));
font-family: cursive;
height:100vh;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
    background-color: brown;
}

.enter{
    margin-top: 80px;
    background-color: brown;
    padding:10px;
    width: 80%;
    border-radius:20%;
}

.data{
    margin-top: 60px;
}