.box{
    background:rgb(240, 233, 233);
    padding: 10%;
    border: 1px solid;
}

.box3{
    background:rgb(240, 233, 233);
    border: 1px solid;
}
.likley{
    margin-top:10%;
}
.add{
    width:60%;
}
.tab{
    background:rgb(240, 233, 233);
    border: 1px solid;
}